<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Computer-app</display-name>

    <servlet>
        <servlet-name>MainWeb</servlet-name>
        <servlet-class>star.servlet.Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainWeb</servlet-name>
        <url-pattern>/Stationary_Computer</url-pattern>
    </servlet-mapping>
</web-app>